In [1]:
2+3

5

In [2]:
import pandas as pd
import numpy as np
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates=pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2013-01-01 -1.622393 -0.791472  0.512379  0.348647
2013-01-02 -0.250508  0.849278 -0.727586 -0.338732
2013-01-03 -0.522742 -0.610558  1.645406  0.942226
2013-01-04 -0.646915  0.822105  0.077910  0.489285
2013-01-05  0.072981  0.261909  0.324288  0.259944
2013-01-06 -0.649523  0.853210  2.344923  0.327634

In [5]:
df.head(3)

                   A         B         C         D
2013-01-01 -1.622393 -0.791472  0.512379  0.348647
2013-01-02 -0.250508  0.849278 -0.727586 -0.338732
2013-01-03 -0.522742 -0.610558  1.645406  0.942226

In [7]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [9]:
df.values

array([[-1.62239349, -0.79147249,  0.51237879,  0.34864668],
       [-0.25050825,  0.8492776 , -0.7275857 , -0.33873165],
       [-0.52274153, -0.61055785,  1.64540587,  0.94222593],
       [-0.646915  ,  0.82210544,  0.07790971,  0.48928522],
       [ 0.07298065,  0.26190887,  0.32428759,  0.25994404],
       [-0.64952286,  0.85321039,  2.34492346,  0.32763398]])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
df

                   A         B         C         D
2013-01-01 -1.622393 -0.791472  0.512379  0.348647
2013-01-02 -0.250508  0.849278 -0.727586 -0.338732
2013-01-03 -0.522742 -0.610558  1.645406  0.942226
2013-01-04 -0.646915  0.822105  0.077910  0.489285
2013-01-05  0.072981  0.261909  0.324288  0.259944
2013-01-06 -0.649523  0.853210  2.344923  0.327634

In [12]:
df.loc[dates[0],'A']

-1.6223934945683907

In [13]:
df.iloc[3]

A   -0.646915
B    0.822105
C    0.077910
D    0.489285
Name: 2013-01-04 00:00:00, dtype: float64

In [14]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.646915  0.822105
2013-01-05  0.072981  0.261909

In [15]:
df[df>0]

                   A         B         C         D
2013-01-01       NaN       NaN  0.512379  0.348647
2013-01-02       NaN  0.849278       NaN       NaN
2013-01-03       NaN       NaN  1.645406  0.942226
2013-01-04       NaN  0.822105  0.077910  0.489285
2013-01-05  0.072981  0.261909  0.324288  0.259944
2013-01-06       NaN  0.853210  2.344923  0.327634

In [16]:
df2 = df.copy()

In [17]:
df2['E']=[1,2,3,4,5,6]

In [18]:
df2

                   A         B         C         D  E
2013-01-01 -1.622393 -0.791472  0.512379  0.348647  1
2013-01-02 -0.250508  0.849278 -0.727586 -0.338732  2
2013-01-03 -0.522742 -0.610558  1.645406  0.942226  3
2013-01-04 -0.646915  0.822105  0.077910  0.489285  4
2013-01-05  0.072981  0.261909  0.324288  0.259944  5
2013-01-06 -0.649523  0.853210  2.344923  0.327634  6